html {
  font-size: 18pt;
  font-family: Helvetica;
  width: 960px;
  height: 1.4;
}

header {
  color: white;
  font-size: 1rem;
  background-color: cadetblue;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 1.2;
}

#looksee {
  border: 2px solid black;
  background-image: 
}
